@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  height: 100vh;
  display: flex;
}

#root {
  height: 100%;
}
