@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  height: 100vh;
  display: flex;
}

.card {
  background: linear-gradient(
    90deg,
    rgba(248, 248, 255, 1) 50%,
    rgba(69,119,217,1) 50%
  );
}

#root {
  height: 100%;
}
